
@font-face {
    font-family: Roboto-medium;
    font-display: auto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-regular;
    font-display: auto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    font-family: 'Roboto', sans-serif !important;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #b4b7b9 !important;
}

.table-bordered {
    border: 1px solid #b4b7b9 !important;
}

.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a {
    font-weight: 700;
}

.btn-primary {
    background-color: #119bea !important;
    border-color: #119bea !important;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #119bea !important;
}

label {
    font-weight: 700 !important;
}

.table thead {
    background-color: rgb(60, 141, 188) !important;
    color: rgb(255, 255, 255);
}

.table thead th {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

span.required {
    color: red;
}

.toast-success {
    background-color: #44ad44 !important;
    color: #fff0ff !important;
}

#toast-container .toast .toast-message{
    font-size: 14px;
}

#toast-container>div {
    opacity: 1 !important;
}

.invalid-feedback {
    margin-top: 4px;
    color: red;
    font-size: 13px;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}

.table tbody .btn-action.btn {
    background: none;
    border: none;
}

.btn-color-blue {
    color: #348cd4;
}

.btn-color-red {
    color: red;
}

.btn-action.btn:hover {
    background: #348cd4 !important;
    color: white;
}

.user-panel>.image>img {
    height: 45px !important;
}

.select2-container--default .select2-selection--single {
     border-radius: 1px !important;
    height: 34px !important;
}

.form-control:focus {
    border-color: #1f91f3 !important;
    box-shadow: none;
}

.select2 *:focus {
    border-color: #1f91f3  !important;
}

textarea:focus {
    border-color: #1f91f3  !important;
}

select.form-control:focus {
    border-color: #1f91f3  !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
    padding: 1px 10px;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #f7f7f7 !important;
}

.box-header {
    padding: 10px 10px 2px 10px !important;
}


table tbody td a {
    color: #0052CC !important;
}

table tbody td a:hover {
    cursor: pointer;
    color: #0824ec !important;
}

.row-bd-bt {
    border-bottom: 1px solid #ecf0f5;
}

.box-detail p{
    margin-bottom: 5px;
}

.color-red {
    color: red;
}

.vertical-middle {
    vertical-align: middle !important;
}

.modal-header .close {
    top: 0;
    position: unset !important;
    right: unset !important;
    height: unset !important;
    width: unset !important;
    background-color: unset !important;
    opacity: unset !important;
    border: unset !important;
    text-shadow: unset !important;
    color: unset !important;
    border-radius: unset !important;
    padding: unset !important;
}

.table-responsive.box-panel h3 {
    margin: 0;
    background-color: #d2d6de;
    font-size: 14px;
    padding: 16px;
    height: 49px;
}

.color-black{
    color: #0a0a0a;
}

.table-responsive.box-panel h3 a:hover {
    cursor: pointer;
    color: #336eea !important;
}

.table-responsive.box-panel h3 a:active {
    color: #336eea !important;
}

.table-responsive.box-panel h3 a:focus {
    color: #336eea !important;
}

/*input[type=date] {*/
/*    position: relative;*/
/*    color: white;*/
/*}*/

/*input[type=date]:before {*/
/*    position: absolute;*/
/*    content: attr(data-date);*/
/*    display: inline-block;*/
/*    color: black;*/
/*}*/

/*input[type=date]::-webkit-datetime-edit, input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-clear-button {*/
/*    display: none;*/
/*}*/

/*input[type=date]::-webkit-calendar-picker-indicator {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    color: black;*/
/*    opacity: 1;*/
/*}*/

.required {
    color: red;
}

hr.border-dashed {
    border: 1px dashed #56b3d8;
    margin-top: 1px;
    margin-bottom: 1px;
}
.imghover:hover i{
    transform: scale(1.2);
    transition: all ease-in-out 0.5s;
}

.bg-table-gray {
    background-color: #e4e3e3 !important;
}

.color-white {
    color: white !important;
}

.btn-yellow {
    color: white;
    background-color: #f1df07;
    border-color: #f1df07;
}

.btn-purple {
    color: #fff;
    background-color: #8552f5;
    border-color: #8552f5;
}

.datepicker-days {
    font-size: 1.2rem !important;
}

.panel-body a.text-title-item {
        color: #0c0c0c;
}

.panel-body a.text-title-item:hover {
    cursor: pointer;
    color: #000ed4;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    font-size: 14px !important;
    margin-top: 5px !important;
}

.panel-body a.text-title-item p {
    margin: 0 0 10px !important;
}

p {
    margin: 0 0 6px !important;
}
