.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #b4b7b9 !important;
}

.table-bordered {
    border: 1px solid #b4b7b9 !important;
}

.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a {
    font-weight: 700;
}

.btn-primary {
    background-color: #119bea !important;
    border-color: #119bea !important;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #119bea !important;
}

label {
    font-weight: 700 !important;
}

.table thead {
    background-color: rgb(60, 141, 188) !important;
    color: rgb(255, 255, 255);
}

.table thead th {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

span.required {
    color: red;
}

.toast-success {
    background-color: #44ad44 !important;
    color: #fff0ff !important;
}

#toast-container .toast .toast-message{
    font-size: 14px;
}

#toast-container>div {
    opacity: 1 !important;
}

.invalid-feedback {
    margin-top: 4px;
    color: red;
    font-size: 13px;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}

.table tbody .btn-action.btn {
    background: none;
    border: none;
}

.btn-color-blue {
    color: #348cd4;
}

.btn-color-red {
    color: red;
}

.btn-action.btn:hover {
    background: #348cd4 !important;
    color: white;
}

.user-panel>.image>img {
    height: 45px !important;
}

.select2-container--default .select2-selection--single {
     border-radius: 1px !important;
    height: 34px !important;
}
